.body
{

    background-color: rgb(22, 104, 104);
}
li
{
    background-color:rgb(2, 56, 2);
    color: antiquewhite;
    text-align: center;
    font-size: 120%;
    
}
h1{
    font-size:150%;
    background-color:rgb(2, 56, 2);
    color: antiquewhite;
}
.heading
{
   text-align: center;
}
img{
    width: 50%;
    padding-right: 3%;
}
a{
    color: black;
}
p
{
    color: aliceblue;
    font-size:150%;
}
ul{
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: auto;
   list-style: none;
    
}
.center{
    text-align: center;
}