.container__3-ij {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.heading{
  padding-bottom: -20%;
}
.but-add{
  margin-left: 90%;
  margin-bottom: 5%;

}

.but-cols:hover{
  background-color: #44be63;
  color:#fff;
  border-color:forestgreen;
}
h4{
  text-transform:capitalize;
  font-family:Arial, Helvetica, sans-serif;  
  background-color:#63d471;
  color: white;
  cursor: pointer;
  padding: 0.3rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}
#fixedbutton{
  position: fixed;
    bottom: 3rem;
    right: 0rem; 
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
h1{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  padding-top: 2rem;
  margin-bottom: -3%;
  font-weight: 550;
}
body{
  padding-top: 2%;
  padding: 5%;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  // background-color: #63d471;
  // background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);

  
}

textarea{
  width: 100%;
  background-color: rgb(197, 247, 221);
  border: none;
}
.btn{
    margin: 2px;
    background-color: rgb(68, 45, 241);
    color:#FFF;
    margin-top: 2%;
    margin-left: 90%;
}
.folder-list{
    width:100%;
    height:100%;
}
.setimg{
    width:90%;
    height:250px;
    padding: 2px;
    
}
.card
{
  border: 0.5px solid black;
  width: 25%;
  height: 200px;
  margin-right: 2rem;
  text-align: center;
  font-size: large;
  overflow-y: auto;
  overflow-x: hidden;

}
.card-img-top:hover
{
  transform: scale(1.1);
  opacity: 1;
}

.row{
  display: flex;
  width: auto;
  justify-content: left;
  //color: black;
  font-size: large;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.content {
  margin-top: 5px;
  padding: 4px;
  max-height: 100px;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}

.Like{
  //color: blue;
  padding-right: 2rem;
}
.Dislike{
 margin-left: 1rem;
}
.reporticon{
  //padding-left: 2rem;
  margin-left: 2rem;
}
.up{
  margin-left: 2rem;
  padding-right: 2rem;
}
.down{
  margin-left:1rem;
}
.rp
{
//align-items: center;
margin-left: 2rem;
}
.afterVote{
  color: blue;
}
.sugg{
  border:1px solid black;
  padding: 2rem;
  padding-top: -2rem;
  margin-bottom: 2rem;
}
