<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,100&family=Ysabeau&display=swap"
    rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container"><a href="#" class="navbar-brand d-flex align-items-center"> <img class="logo"
                src="assets/images/plant.png" /><strong>Vangyaan</strong></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/index" class="nav-link font-italic"> Home </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About us</h1>
                <p class="lead text-muted mb-0 intr">Welcome to Vangyaan, a platform dedicated to exploring the world of
                    plants. Our mission is to provide valuable information and insights into the botanical world,
                    helping individuals and organizations make informed decisions for a healthier and sustainable
                    future. While our current focus is on leaves, we plan to expand our domain in the future. We are
                    committed to exploring new areas of the botanical world and sharing our findings with our community.
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="assets/images/a2.png" alt="" class="img-fluid img-fluid2">
            </div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <p class="intro">At Vangyaan, we are passionate about plants and the role they play in our lives. From
                    the food we eat to the air we breathe, plants are integral to our existence. We believe that by
                    sharing our knowledge and experiences, we can inspire a deeper appreciation for the natural
                    world.But we don’t just want to be a one way source of information. We also want to be a community
                    where people can come together and share their own knowledge and experiences with leaves, we can
                    inspire a deeper appreciation for the natural world and encourage others to join us in our quest to
                    protect and preserve it.
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="assets/images/a3.png" alt=""
                    class="img-fluid img-fluid1 mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="assets/images/a4.png" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>

                <p class="intro">
                    Whether you are a botanist, or simply someone who loves plants, we invite you to join our community
                    and share your knowledge with others. Together, we can create a comprehensive resource that will
                    help us better understand and appreciate the incredible diversity of leaves and their many uses.
                    
                    <br>Help us spread the word about vangyan! If you know someone who loves plants or is interested in learning more about them. Please share the website link with them. 
                    <br><br>Thank you for visiting Vangyaan and being a part of our community.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5 ">
    <div class="container py-5">
        <div class="row mb-4">
            <div >
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted intro">Our team is made up of dedicated plant enthusiasts,
                    researchers,and writers who are committed to delivering high-quality content that is both
                    informative and engaging. We strive to make our website accessible to everyone, regardless to their
                    level of expertise, and we welcome feedback and suggestions from our community.</p>
            </div>
        </div>

        <div class="row text-center cen1">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/images/Rohit.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Rohit Bansal</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="https://instagram.com/therohitbansal_?igshid=ZDdkNTZiNTM=" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/therohitbansal4/"
                                class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="assets/images/shivangi.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Shivangi Singh</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/shivangi-singh-060995223" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="assets/images/Jhansi.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Jhansi Mahato</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jhansi-mahato-b53a841b2/" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center cen1">
            <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="assets/images/Sandeep_sir.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Sandeep Yadav</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/sandeep-yadav-nitkkr" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="assets/images/Manish_sir.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Manish Kumar</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/manish-kumar-t-174787130" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="assets/images/Soumyaranjan_sir.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Soumyaranjan Sahoo</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/soumyaranjan-sahoo-478861190/" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light py-5 space">
    <div class="container py-5 ">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Advisors</h2>
                <!-- <p class="font-italic text-muted">Our team is made up of dedicated plant enthusiasts, researchers, and writers who are committed to delivering high-quality content that is both informative and engaging. We strive to make our website accessible to everyone, regardless to their level of expertise, and we welcome feedback and suggestions from our community.</p> -->
            </div>
        </div>

        <div class="row text-center cen1">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/images/Kapil_sir.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr.Kapil</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="https://instagram.com/therohitbansal_?igshid=ZDdkNTZiNTM=" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/kapil-gupta-43b39a4/"
                                class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="assets/images/jay_sir.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Jay Prakash</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jay-prakash-singh-4b69b315/" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
           
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="assets/images/Vishnu_sir.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Vishnuvardhan Reddy</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/vishnuhcu/" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center cen1">
              <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="assets/images/Deepak_sir.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Deepak Kumar</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/dpkumar/" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5 cin">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="assets/images/Shardha_mam.png" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Sharada Mahawar</h5><span class="small text-uppercase text-muted"></span>
                    <ul class="social mb-0 list-inline mt-3">
                        <!-- <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.facebook.com/sharada.mahawar" class="social-link"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
               <!-- End-->

        </div>
    </div>
</div>


<footer class="bg-light pb-5">
    <div class="container text-center">
        <p class="font-italic text-muted mb-0">&copy;Vangyaan</p>
    </div>
</footer>
