<html>
<div class="heading">
    <h1>Reviews</h1>
</div>
<body>
  <a title="Need Help?" (click)="needhelp()"><img src="assets/images/help.png" id="fixedbutton" /></a>
<form #reviewForm="ngForm" class="folder-list">
    <div class="folder" *ngFor="let folder of folderlist">
      <div class="separate-cards">
      <h4>Id: {{folder[0]}}&nbsp; &nbsp;
      Plant Name : {{folder[1]}}&nbsp; &nbsp;
      Leaf Apices : {{folder[2]}}&nbsp; &nbsp;
      Leaf Bases : {{folder[3]}}&nbsp; &nbsp;
      Leaf Margin : {{folder[4]}}&nbsp; &nbsp;
      </h4> 
      <div class="container__3-iq">
          <div title="Upvote" *ngIf="folderResult[folder[0]]?.length && folderResult[folder[0]][0]==1; else UPvote" data-is-voted="true">
            <mat-icon  [ngClass]="['Like','afterVote']" type="submit" (click)="folderVote(folder[0],'u')" >thumb_up</mat-icon>
          </div>
          <ng-template #UPvote>
            <div title="Upvote">
              <mat-icon class="Like"  type="submit" (click)="folderVote(folder[0],'u')" >thumb_up</mat-icon>
            </div>
          </ng-template>
          <div title="Vote count" ><span>{{x[folder[0]]}}</span></div>
          <div title="Downvote" *ngIf="folderResult[folder[0]]?.length && folderResult[folder[0]][0]==-1; else DOWNvote" >
            <mat-icon [ngClass]="['Dislike', 'afterVote']" type="submit" (click)="folderVote(folder[0],'d')" >thumb_down</mat-icon>
          </div> 
          <ng-template #DOWNvote>
            <div title="Downvote" >
              <mat-icon class="Dislike" type="submit" (click)="folderVote(folder[0],'d')" >thumb_down</mat-icon>
            </div>
          </ng-template> 
        <div  *ngIf="folderResult[folder[0]]?.length && folderResult[folder[0]][1]==1; else report" title="Unreport">
          <mat-icon type="submit" class="reporticon" value="Unreport" (click)="folderVote(folder[0],'ur')" >report_off</mat-icon>
        </div> 
        <ng-template  #report>
          <div title="Report">
            <mat-icon type="submit" class="reporticon"  (click)="openDialog(folder[0],0,'f')">report</mat-icon>
          </div>
        </ng-template>
      </div>
      <br>
    <div class="row" >
      <div class="card" class="col-auto" *ngFor="let i of imagelist[folder[0]]"> &nbsp;
          <img src="http://localhost:5000/.//static/temp_images/{{folder[1]}}/img_{{i}}.png" class="card-img-top setimg" alt="...">
        <div class="container__3-ij">
          <div title="Upvote" *ngIf="check_imgVote(folder[0],i,'u'); else removeUP">
            <mat-icon class="up" type="submit" (click)="imgVote(folder[0],i,'u')" >thumb_up</mat-icon>
          </div>
          <ng-template #removeUP>
            <div title="Upvote">
              <mat-icon [ngClass]="['up','afterVote']" type="submit" (click)="imgVote(folder[0],i,'u')" >thumb_up</mat-icon>
            </div>
          </ng-template>
          <div title="Vote count" class="count" ><span>{{y[folder[0]+"_"+i]}}</span></div>  
          <div title="Downvote" *ngIf="check_imgVote(folder[0],i,'d'); else removeDOWN">
            <mat-icon type="submit" class="down"  (click)="imgVote(folder[0],i,'d')">thumb_down</mat-icon>
          </div>
          <ng-template #removeDOWN>
            <div title="Downvote">
              <mat-icon type="submit" [ngClass]="['down','afterVote']"  (click)="imgVote(folder[0],i,'d')">thumb_down</mat-icon>
            </div>
          </ng-template>
          <div *ngIf="check_imgVote(folder[0],i,'r'); else unreport" title="Report" >
            <mat-icon type="submit" class="rp" (click)="openDialog(folder[0],i,'im')">report</mat-icon> 
          </div>
          <ng-template #unreport>
            <div title="Unreport">
              <mat-icon type="submit" class="rp" value="Unreport" (click)="imgVote(folder[0],i,'ur')" >report_off</mat-icon>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
      <br><br>
      <h2>
        Suggested Corrections</h2>
      <div class="sugg">
              <div class="but-add">
          <button class="but-cols" type="submit" value="Add corrections"   (click)="openCorrectionDialog(folder[0])"> Add correction <i class='far fa-edit'></i> </button>
        <br>
      </div>
        <div class="container__3-ij">
          <div class="card">
            <br><br>
            <h2>Plant Name</h2>
            
            <div *ngFor="let correction of correctionList(folder[0],'leaf_division')">
              <div class="container__3-ij">
                {{correction}}
                <br>
                <div title="Upvote" *ngIf="check_correctionVote(folder[0],'leaf_division',correction,'u'); else removeCorrectionUP">
                  <mat-icon class="up_vote" type="submit" (click)="correctionsVote(folder[0],'leaf_division',correction,'u')" >thumb_up</mat-icon>
                </div>
                <ng-template #removeCorrectionUP>
                  <div title="Upvote">
                    <mat-icon [ngClass]="['up_vote','afterVote']" type="submit" (click)="correctionsVote(folder[0],'leaf_division',correction,'u')" >thumb_up</mat-icon>
                  </div>
                </ng-template>
                <div title="Vote count" ><span>{{z[folder[0]+"_leaf_division_"+correction]}}</span></div>  
                <div title="Downvote" *ngIf="check_correctionVote(folder[0],'leaf_division',correction,'d'); else removeCorrectionDOWN">
                  <mat-icon type="submit" class="down_vote"  (click)="correctionsVote(folder[0],'leaf_division',correction,'d')">thumb_down</mat-icon>
                </div>
                <ng-template #removeCorrectionDOWN>
                  <div title="Downvote">
                    <mat-icon type="submit" [ngClass]="['down_vote','afterVote']"  (click)="correctionsVote(folder[0],'leaf_division',correction,'d')">thumb_down</mat-icon>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>  
          <div class="card">
            <br><br>
           <h2>Leaf Apices</h2>
            <div *ngFor="let correction of correctionList(folder[0],'leaf_apices')">
              <div class="container__3-ij">
               <p>{{correction}}</p>
               <br> 
               <div title="Upvote" *ngIf="check_correctionVote(folder[0],'leaf_apices',correction,'u'); else removeCorrectionUP">
                  <mat-icon class="up_vote" type="submit" (click)="correctionsVote(folder[0],'leaf_apices',correction,'u')" >thumb_up</mat-icon>
                </div>
                <ng-template #removeCorrectionUP>
                  <div title="Upvote">
                    <mat-icon [ngClass]="['up_vote','afterVote']" type="submit" (click)="correctionsVote(folder[0],'leaf_apices',correction,'u')" >thumb_up</mat-icon>
                  </div>
                </ng-template>
                <div title="Vote count" class="vote_count"><span>{{z[folder[0]+"_leaf_apices_"+correction]}}</span></div>  
                <div title="Downvote" *ngIf="check_correctionVote(folder[0],'leaf_apices',correction,'d'); else removeCorrectionDOWN">
                  <mat-icon type="submit" class="down_vote"  (click)="correctionsVote(folder[0],'leaf_apices',correction,'d')">thumb_down</mat-icon>
                </div>
                <ng-template #removeCorrectionDOWN>
                  <div title="Downvote">
                    <mat-icon type="submit" [ngClass]="['down_vote','afterVote']"  (click)="correctionsVote(folder[0],'leaf_apices',correction,'d')">thumb_down</mat-icon>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="card">
            <br><br>
            <h2>Leaf Bases</h2>    
            <div *ngFor="let correction of correctionList(folder[0],'leaf_bases')">
              <div class="container__3-ij">
                {{correction}}
                <br>
                <div title="Upvote" *ngIf="check_correctionVote(folder[0],'leaf_bases',correction,'u'); else removeCorrectionUP">
                  <mat-icon class="up_vote" type="submit" (click)="correctionsVote(folder[0],'leaf_bases',correction,'u')" >thumb_up</mat-icon>
                </div>
                <ng-template #removeCorrectionUP>
                  <div title="Upvote">
                    <mat-icon [ngClass]="['up_vote','afterVote']" type="submit" (click)="correctionsVote(folder[0],'leaf_bases',correction,'u')" >thumb_up</mat-icon>
                  </div>
                </ng-template>
                <div class="vote_count" title="Vote count" ><span>{{z[folder[0]+"_leaf_bases_"+correction]}}</span></div>  
                <div title="Downvote" *ngIf="check_correctionVote(folder[0],'leaf_bases',correction,'d'); else removeCorrectionDOWN">
                  <mat-icon type="submit" class="down_vote"  (click)="correctionsVote(folder[0],'leaf_bases',correction,'d')">thumb_down</mat-icon>
                </div>
                <ng-template #removeCorrectionDOWN>
                  <div title="Downvote">
                    <mat-icon type="submit" [ngClass]="['down_vote','afterVote']"  (click)="correctionsVote(folder[0],'leaf_bases',correction,'d')">thumb_down</mat-icon>
                  </div>
                </ng-template>
              </div>  
            </div>
          </div>
          <div class="card">
            <br><br>
           <h2>Leaf Margin</h2>
            <div data-placeholder="leaf_margin" *ngFor="let correction of correctionList(folder[0],'leaf_margin')">
              <div class="container__3-ij">
                {{correction}}
                <br>
                <div title="Upvote" *ngIf="check_correctionVote(folder[0],'leaf_margin',correction,'u'); else removeCorrectionUP">
                  <mat-icon class="up_vote" type="submit" (click)="correctionsVote(folder[0],'leaf_margin',correction,'u')" >thumb_up</mat-icon>
                </div>
                <ng-template #removeCorrectionUP>
                  <div title="Upvote">
                    <mat-icon [ngClass]="['up_vote','afterVote']" type="submit" (click)="correctionsVote(folder[0],'leaf_margin',correction,'u')" >thumb_up</mat-icon>
                  </div>
                </ng-template>
                <div title="Vote count" class="vote_count" ><span>{{z[folder[0]+"_leaf_margin_"+correction]}}</span></div>  
                <div title="Downvote" *ngIf="check_correctionVote(folder[0],'leaf_margin',correction,'d'); else removeCorrectionDOWN">
                  <mat-icon type="submit" class="down_vote"  (click)="correctionsVote(folder[0],'leaf_margin',correction,'d')">thumb_down</mat-icon>
                </div>
                <ng-template #removeCorrectionDOWN>
                  <div title="Downvote">
                    <mat-icon type="submit" [ngClass]="['down_vote','afterVote']"  (click)="correctionsVote(folder[0],'leaf_margin',correction,'d')">thumb_down</mat-icon>
                  </div>
                </ng-template>
              </div>  
            </div>
          </div>
        </div>
      </div>
     
      <!-- <label class="switch">
        <span class="slider round">    
          <input type="checkbox" (click)="folder.isCollapsed=!folder.isCollapsed; folder.isCollapsed && fetchComments(folder[0]);"  
          [attr.aria-expanded]="!folder.isCollapsed" aria-controls="coll"> <br> 
        </span> 
      </label>  -->

      <button type="button" class="collapsible" (click)="folder.isCollapsed=!folder.isCollapsed; folder.isCollapsed && fetchComments(folder[0]);"  
          [attr.aria-expanded]="!folder.isCollapsed" aria-controls="coll">Reviews</button> <br>

      <!-- <input type="checkbox" class="checkbox" id="swi" (click)="folder.isCollapsed=!folder.isCollapsed; folder.isCollapsed && fetchComments(folder[0]);"  
        [attr.aria-expanded]="!folder.isCollapsed" aria-controls="coll"> <br> 
      <label for="swi" class="togg"></label> -->
      
      <div id="coll"  [hidden]="!folder.isCollapsed?true:null" *ngIf="!comments[folder[0]]?.length && folder.isCollapsed; else avail">
        No reviews available.
      </div> 
      <ng-template #avail>
        <div id="coll" [hidden]="!folder.isCollapsed?true:null" *ngFor="let comment of comments[folder[0]]">
          <div class="content">
            {{comment[0]}} &nbsp; &nbsp; &nbsp; {{comment[2]}} 
            <br><br> <p>{{comment[1]}}</p>
          </div>
        </div>
      </ng-template>
      <br>          
     
      <form class="comm" #commentForm="ngForm">
        <textarea type="text" name="comm" required [(ngModel)]="msg" placeholder="Describe your experience (optional)"></textarea>
        <input class="btn" type="submit" [disabled]="commentForm.invalid" (click)="saveComment(commentForm, folder[0])" value="Submit"> 
      </form>
      <br>
    </div>
    <br><br>
    </div>
      
  </form>
</body>
</html>