<body>
  <section>
    <div class="imgBx">
      <img src="assets/images/i4.png">
      </div>
      <div class="contentBx">
          <form *ngIf="flag" class="reg" #userForm="ngForm" (ngSubmit)="onsubmit(userForm)" enctype="multipart/form-data">
        <div class="formBx">
          <h2>Sign up</h2>
          <div class="inputBx">
          <label for="email">Email Id</label> &nbsp;&nbsp;&nbsp;
          <input type="text" id="email" name="email"  placeholder="example@xyz.com" required [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
          </div>
          <div class="inputBx">
          <label for="phone">Mobile No</label> &nbsp;
          <input type="text" name="phone" id="num" required [(ngModel)]="phone" pattern="[0-9]{10}"/>
          </div>
          <div class="inputBx">
          <label for="pswd">Password</label> &nbsp;
          <input type="password" name="pswd" required [(ngModel)]="password"/>
          </div>
          <div class="inputBx">
          <input class="br-tag" [disabled]="userForm.invalid" type="submit" value="Sign Up"/>&nbsp; <p>
          </div>
              <p>Already registered? <a href='login'>Login</a></p>
          </div>
        </form>
        <form *ngIf="email_flag" class="reg" #otpForm="ngForm" (ngSubmit)="otpsubmit(otpForm)" enctype="multipart/form-data">
          <div class="formBx">
            <div class="inputBx">
            <label for="otp">Enter OTP sent through email</label> <br><br>
            <input type="text" name="otp" required [(ngModel)]="otp"/>
            <br><p>{{otp_msg}}</p> 
            </div>
            <div class="inputBx">      
              <input class="br-tag" [disabled]="otpForm.invalid" type="submit" value="Enter"/>
            </div>
            <div class="inputBx">
              <input class="br-tag" type="submit" value="Resend" (click)="resend()"/>
            </div>
          </div>
        </form>
      </div>
  </section>
</body>